In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [29]:
# from http://www.usa.com/rank/king-county-wa--population-density--zip-code-rank.htm?yr=9000&dis=&wist=&plow=&phigh=

df_pop_density = pd.read_csv('data/King_County_Population_Density.csv', sep = '\t')

In [30]:
df_pop_density.head()

   rank population_density  zip/population
0   1.0     20,629.5/sq mi      98164 / 73
1   2.0     20,391.4/sq mi      98174 / 72
2   3.0     19,576.7/sq mi  98121 / 12,753
3   4.0     17,315.9/sq mi  98101 / 10,803
4   5.0     15,103.1/sq mi  98104 / 13,177

In [31]:
# split zip/population column into two columns
df_pop_density[['zip','population']]= df_pop_density["zip/population"].str.split("/", expand=True)

In [32]:
#drop combined column
df_pop_density.drop("zip/population", axis=1, inplace=True)

In [33]:
#change data type of rank column to int
df_pop_density = df_pop_density.astype({'rank': int})

In [34]:
# remove comma and unit /sq mi from population density column and turn into float
df_pop_density["population_density"] = df_pop_density.population_density.str.strip('/sq mi')

In [38]:
#remove , from string numbers and turn into float
df_pop_density["population_density"] = df_pop_density.population_density.str.replace(',', "").astype('float')

In [41]:
# zip into int
df_pop_density["zip"] = df_pop_density.zip.astype('int')

In [42]:
df_pop_density.head()

   rank  population_density    zip population
0     1             20629.5  98164         73
1     2             20391.4  98174         72
2     3             19576.7  98121     12,753
3     4             17315.9  98101     10,803
4     5             15103.1  98104     13,177

In [43]:
df_pop_density.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rank                77 non-null     int64
 1   population_density  77 non-null     float64
 2   zip                 77 non-null     int64
 3   population          77 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 2.5+ KB

In [50]:
df_pop_density_short = df_pop_density.drop(["population_density","population"], axis=1)
df_pop_density_short

    rank    zip
0      1  98164
1      2  98174
2      3  98121
3      4  98101
4      5  98104
..   ...    ...
72    73  98051
73    74  98050
74    75  98045
75    76  98224
76    77  98288

[77 rows x 2 columns]

In [55]:
ranks = df_pop_density_short['rank'].tolist()
dens_zips = df_pop_density['zip'].tolist()
dict_pop_rk = dict(zip(dens_zips,ranks))
dict_pop_rk

{98164: 1,
 98174: 2,
 98121: 3,
 98101: 4,
 98104: 5,
 98102: 6,
 98122: 7,
 98109: 8,
 98107: 9,
 98103: 10,
 98119: 11,
 98117: 12,
 98105: 13,
 98116: 14,
 98133: 15,
 98007: 16,
 98126: 17,
 98115: 18,
 98125: 19,
 98144: 20,
 98118: 21,
 98030: 22,
 98136: 23,
 98031: 24,
 98146: 25,
 98112: 26,
 98002: 27,
 98055: 28,
 98106: 29,
 98023: 30,
 98198: 31,
 98155: 32,
 98178: 33,
 98034: 34,
 98003: 35,
 98011: 36,
 98056: 37,
 98168: 38,
 98199: 39,
 98004: 40,
 98028: 41,
 98148: 42,
 98006: 43,
 98033: 44,
 98188: 45,
 98108: 46,
 98166: 47,
 98008: 48,
 98029: 49,
 98052: 50,
 98005: 51,
 98058: 52,
 98074: 53,
 98032: 54,
 98075: 55,
 98057: 56,
 98059: 57,
 98040: 58,
 98001: 59,
 98042: 60,
 98053: 61,
 98039: 62,
 98038: 63,
 98027: 64,
 98195: 65,
 98010: 66,
 98154: 67,
 98024: 68,
 98070: 69,
 98134: 70,
 98065: 71,
 98014: 72,
 98051: 73,
 98050: 74,
 98045: 75,
 98224: 76,
 98288: 77}

In [47]:
dens_zips = df_pop_density['zip'][0:21].tolist()
dens_zips

[98164,
 98174,
 98121,
 98101,
 98104,
 98102,
 98122,
 98109,
 98107,
 98103,
 98119,
 98117,
 98105,
 98116,
 98133,
 98007,
 98126,
 98115,
 98125,
 98144,
 98118]